<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <center>
        <p><b>Nome:</b></p>
        <p>{{name}}</p>
        <p><b>Assunto:</b></p>
        <p>{{subject}}</p>
        <p><b>Mensagem:</b></p>
        <p>{{message}}</p>
    </center>
    <hr>
    <img src="https://fcawebbook2.herokuapp.com/assets/images/logo_email.png" alt="Animalec">
    <p>ANIMALEC API - API do Livro da FCA "Desenvolvimento Avançado para a Web"</p>
</body>
</html>